<div class="jumbotron">
	<center>
		<h1>Welcome to World of Donuts</h1>
		<img src="http://www.lovethispic.com/uploaded_images/37598-Sweet-And-Tasty-Donuts.jpg">

		<%= link_to "Check out our amazing Donuts!", donuts_path, class: "btn btn-default" %>
	</center>